
header {
    background-image: url('/apple-pie/images/apple-pie.jpg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    padding-top: 50px;
    position: relative;   
}

h1 {
    color: white;
    font-size: 7em;
    text-align: center;
    margin: 200px 5px;
    font-weight:normal;
}

h2 {
    font-size: 1.5 em;
    font-weight:normal;
}

section {
    width: 70%;
    margin: 0 15%;
    text-align: justify;
    font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
}

ul {    
    list-style: '- ';
}

div {
    text-align: center;
    height: auto;
}